model {
  faster_rcnn {
    num_classes: <replace_num_classes>
    image_resizer {
      fixed_shape_resizer {
        height: <replace_resize_height>
        width: <replace_resize_width>
      }
    }
    feature_extractor {
      type: 'faster_rcnn_inception_v2'
      first_stage_features_stride: 16
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        height: <replace_anchor_size>
        width: <replace_anchor_size>
        scales: <replace_anchor_scales>
        aspect_ratios: <replace_anchor_aspect_ratios>
        height_stride: <replace_anchor_stride>
        width_stride: <replace_anchor_stride>
      }
    }
    first_stage_box_predictor_conv_hyperparams {
      op: CONV
      regularizer {
        l2_regularizer {
          weight: <replace_l2_regularizer_weight>
        }
      }
      initializer {
        truncated_normal_initializer {
          stddev: 0.01
        }
      }
    }
    first_stage_nms_score_threshold: 0.0
    first_stage_nms_iou_threshold: 0.7
    first_stage_max_proposals: <replace_max_proposals>
    second_stage_batch_size: <replace_max_proposals>
    first_stage_localization_loss_weight: 2.0
    first_stage_objectness_loss_weight: 1.0
    initial_crop_size: 14
    maxpool_kernel_size: 2
    maxpool_stride: 2
    second_stage_box_predictor {
      mask_rcnn_box_predictor {
        use_dropout: <replace_use_dropout>
        dropout_keep_probability: <replace_dropout_keep_probability>
        fc_hyperparams {
          op: FC
          regularizer {
            l2_regularizer {
              weight: <replace_l2_regularizer_weight>
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
      }
    }
    second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.0
        iou_threshold: 0.6
        max_detections_per_class: <replace_max_detections_per_class>
        max_total_detections: <replace_max_detections_per_class>
      }
      score_converter: SOFTMAX
    }
    second_stage_localization_loss_weight: 2.0
    second_stage_classification_loss_weight: 1.0
  }
}

train_config: {
  fine_tune_checkpoint: "<replace_path>models/model/train/model.ckpt"
  batch_size: 1
  optimizer {
    rms_prop_optimizer: {
      learning_rate: {
        exponential_decay_learning_rate {
          initial_learning_rate: <replace_initial_learning_rate>
          decay_steps: <replace_decay_steps>
          decay_factor: <replace_decay_factor>
        }
      }
      momentum_optimizer_value: 0.9
      decay: 0.9
      epsilon: 1.0
    }
    use_moving_average: false
  }
  gradient_clipping_by_norm: 10.0
  from_detection_checkpoint: true
  data_augmentation_options {
    random_horizontal_flip {}
  }
  data_augmentation_options {
    random_vertical_flip {}
  }
  data_augmentation_options {
    random_rotation90 {}
  }
  data_augmentation_options {
    random_patch_gaussian {
      min_patch_size: <replace_patch_gaussian_min_patch_size>
      max_patch_size: <replace_patch_gaussian_max_patch_size>
      max_gaussian_stddev: <replace_patch_gaussian_max_stddev>
    }
  }
}

train_input_reader: {
  tf_record_input_reader {
    input_path: "<replace_path>data/train.record-?????-of-<replace_num_train_records>"
  }
  label_map_path: "<replace_path>data/label_map.pbtxt"
}

eval_config: {
  num_examples: <replace_num_eval_examples>
  # Note: The below line limits the evaluation process to 10 evaluations.
  # Remove the below line to evaluate indefinitely.
  max_evals: 10
}

eval_input_reader: {
  tf_record_input_reader {
    input_path: "<replace_path>data/test.record-?????-of-<replace_num_test_records>"
  }
  label_map_path: "<replace_path>data/label_map.pbtxt"
  shuffle: false
  num_readers: 1
}
